# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/

# Environment variables
.env

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# Docker
*.log

# Logs and debug files
*.log
debug.log

# Downloads
temp/*